@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
    --cor-primaria: #080894;
}

* {
    margin: 0;
    letter-spacing: 1px;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 81.3vh;
    flex-direction: column;
}

.cabecalho {
    background-color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}



.cabecalho__menu {
    display: flex;
    gap: 20px;
    width: 70%;
    height: 70%;
    justify-content: space-around;

}

.cabecalho__menu__links {
    text-decoration: none;
    font-size: 1.5rem;
    color:  var(--cor-primaria);
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
}

.cabecalho__menu__links:hover {
    transform: scale(1.1);  
}

.principal {
    padding: 10px;
    font-family: "Montserrat", sans-serif;
}

.principal__paragrafo {
    margin: 20px;
    padding: 30px;
}

.rodape {
    background-color: var(--cor-primaria);
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    
}

.rodape__logo {
    display: flex;
    margin-left: auto;
}

.rodape__container {
    display: flex;
    align-items: center;
    gap: 10px;
}


.rodape__paragrafo {
    display: flex;
    color: white;
    font-size: 1rem;
}

.rodape__botao {
    transition: all 0.2s ease-in-out;
}

.rodape__botao:hover {
    transform: scale(1.1);
}

@media screem and (max-width: 768px) {
    .rodape {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screem and (max-width: 426px) {
    .rodape {
        grid-template-columns: repeat(1, 1fr);
        /* gap: 2rem; */
    }
}