@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,600&display=swap');


:root {
    --cor-primaria: #080894;
    --cor-secundaria: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.2px;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    color: #333;
    min-height: 100vh;
}

.cabecalho {
    display: flex;
    background-color: var(--cor-secundaria);
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 5px;
    box-shadow: 0.10px 0.5px 0.5px rgb(179, 163, 163);
    font-family: "Montserrat", sans-serif;
}

.cabecalho__imagem {
    max-height: 45px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.cabecalho__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    gap: 15px;
    flex-wrap: wrap;
}


.cabecalho__menu__links {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--cor-primaria);
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

.cabecalho__menu__links:hover {
    transform: scale(1.1);
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: 20px;
}

.principal__container__subtitulo {
    text-align: center;
    padding: 2%;
    font-size: 2rem;
}

.principal__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fordform {
    width: 100%;
    max-width: 700px; 
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    padding: 5px;
    line-height: 1.15;
}

.paragrafoTermosCondicoes{
    color: #a39d9d;
    text-align: start;
    padding-top: 1%;
}

.botaoAtivado {
    background-color: #0044cc;
    color: white;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    border: none;
    width: 30%;
    max-width: 700px; 
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botaoDesativado {
    background-color: #ccc;
    color: #666;
    transition: transform 0.3s, background-color 0.3s;
    cursor: not-allowed;          
    opacity: 0.7;
    border: none;
    width: 30%;
    max-width: 700px; 
    margin-top: 10px;
    padding: 10px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

select {
    cursor: pointer;
}

#formulario{
    height: 100%;
    width: 47%;
}

.divInput{
text-align: start;
color: #a39d9d;

}

.principal__container__formulario__botao:hover {
    transform: scale(1.03);
    background-color: #0033aa;
}

.rodape {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    text-align: left;
    width: 100%;
    flex-wrap: wrap;
}

.rodape__container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.rodape__paragrafo {
    font-family: "Montserrat", sans-serif;
}

.rodape__botao {
    transition: 0.2s ease-in-out;
}

.rodape__botao:hover {
    transform: scale(1.1);
}

.rodape__logo {
    display: flex;
    justify-content: center;
    max-height: 60px;
}

.titulo-popup {
    font-family: "Montserrat", sans-serif;
    color: #333;
}

.popup {
    font-family: "Montserrat", sans-serif;
}

.botao-popup {
    font-family: "Montserrat", monospace !important;
    background-color: #0044cc !important;
    color: white !important;
}

@media (max-width: 768px) {
    .rodape {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
    
    .rodape__container {
        justify-content: center;
    }
    
    ul.modelcars li {
        width: 100%;
        max-width: 300px;
        margin-bottom: 1.5rem;
    }
    
    #formulario{
        width: 80%;
    }
    .botaoAtivado {
        background-color: #0044cc;
        color: white;
        cursor: pointer;
        transition: transform 0.3s, background-color 0.3s;
        border: none;
        width: 100%;
        max-width: 700px; 
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .botaoDesativado {
        background-color: #ccc;
        color: #666;
        transition: transform 0.3s, background-color 0.3s;
        cursor: not-allowed;          
        opacity: 0.7;
        border: none;
        width: 100%;
        max-width: 700px; 
        margin-top: 10px;
        padding: 10px;
        border-radius: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.valido {
    border: 1.5px solid rgb(91, 245, 91);
}

.invalido {
    border: 1.5px solid rgb(245, 111, 111);
}

.mensagem-erro {
    color: red;
    font-size: 0.8rem;
    text-align: start;
}