@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
    --cor-primaria: #080894;
    --cor-secundaria: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.2px;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    color: #333;
    min-height: 100vh;
}

.cabecalho {
    display: flex;
    background-color: var(--cor-secundaria);
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 5px;
    box-shadow: 0.10px 0.5px 0.5px rgb(179, 163, 163);
    font-family: "Montserrat", sans-serif;
}

.cabecalho__imagem {
    max-height: 45px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.cabecalho__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    gap: 15px;
    flex-wrap: wrap;
}


.cabecalho__menu__links {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--cor-primaria);
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

.cabecalho__menu__links:hover {
    transform: scale(1.1);
}

.principal {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    gap: 5px
}

.principal__paragrafo {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}

.principal__imagem {
    max-width: 100%;
    height: auto;
}

.rodape {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    text-align: left;
    flex-wrap: wrap;
}

.rodape__container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.rodape__paragrafo {
    font-family: "Montserrat", sans-serif;
}

.rodape__botao {
    transition: 0.2s ease-in-out;
}

.rodape__botao:hover {
    transform: scale(1.1);
}

.rodape__logo {
    display: flex;
    justify-content: center;
}